<div class="text-center blog">
  <h2>{{title}}</h2>
  <br><br>
  <p>{{format_date date_created}}</p>
  <br>
  <p>Submitted by: {{user.name}}</p>
  <br><br>
  <p class="blogText">{{content}}</p>
  <p>
  </p>
</div>